@use '../theme';

.container {
  display: grid;
  min-height: 100vh;
  padding: 4rem 2rem;
  place-items: center;

  @media (min-width: 768px) {
    padding-inline: 6rem;
  }

  input,
  button {
    border-radius: 0.4rem;
  }

  input {
    background-color: rgba(theme.$color-400, 0.4);
    max-width: 32rem;
    padding: 1.2rem 1.6rem;
    width: 100%;

    &:focus-visible {
      outline: 1px solid theme.$color-300;
    }
  }

  button {
    background-color: theme.$color-200;
    color: theme.$color-500;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.8rem;

    &:hover {
      background-color: theme.$color-100;
    }
  }
}

.form {
  width: 32rem;
}
