@use '../theme';

:export {
  default: theme.$color-200;
  spain: theme.$color-esp;
  caribbean: theme.$color-car;
  peru: theme.$color-per;
  colombia: theme.$color-col;
  mexico: theme.$color-mex;
  chile: theme.$color-chl;
  argentina: theme.$color-arg;
}
