@use '../theme';

.table {
  border-spacing: 0;
  font-size: 1.4rem;
  letter-spacing: 0.01rem;
  margin-inline: auto;
  max-width: 48rem;
  width: 100%;

  tr:first-of-type {
    color: var(--color);
  }

  th,
  td {
    border-bottom: 1px solid theme.$color-400;
    line-height: 1;
    text-align: center;

    &:first-of-type {
      text-align: left;
    }
  }

  th {
    font-weight: 600;
    padding-bottom: 1.6rem;

    &:first-of-type {    
      font-weight: bold;
      font-size: 1.8rem;
      letter-spacing: 0.04rem;
      padding-bottom: 2rem;
    }
  }

  tbody {
    tr:nth-of-type(4) {
      color: theme.$color-200;
    }

    tr:nth-last-of-type(1),
    tr:nth-last-of-type(2) {
      color: theme.$color-300;
    }

    td {
      font-weight: 500;
      padding: 1.6rem 0.4rem;

      &:first-of-type {
        font-weight: 600;
      }

      &:nth-of-type(2) {
        letter-spacing: 0.4rem;
      }
    }
  }
}
