@use '../theme';
@use '../mixins';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-inline: 2rem;
  max-width: 120rem;
  min-height: 100vh;

  @media (min-width: 640px) {
    margin-inline: 4rem;
  }

  @media (min-width: 1280px) {
    margin-inline: auto;
  }
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;

  & > nav {
    @media (max-width: 1023px) {
      display: none;
    }
  }

  button {
    @include mixins.size(3.4rem);

    @media (min-width: 1024px) {
      display: none;
    }
  }
}

.logo {
  @include mixins.size(6rem);
  background-color: rgba(theme.$color-400, 0.2);
  border-radius: 0 0 50% 50%;
  box-shadow: theme.$shadow;
  display: grid;
  place-items: center;

  @media (min-width: 768px) {
    @include mixins.size(8rem);
  }

  img {
    width: 2.4rem;

    @media (min-width: 768px) {
      width: 2.8rem;
    }
  }
}

.main {
  flex-grow: 1;
}

.footer {
  color: theme.$color-200;
  font-size: 1.4rem;
  line-height: 1.25;
  padding-block: 2.4rem;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 1.5rem;
  }

  a {
    color: theme.$color-100;

    &:hover {
      text-decoration: underline;
    }
  }
}
