@use '../theme';

.container {
  @media (max-width: 1023px) {
    padding: 2.4rem 2.8rem;
    width: 24rem;
  }

  ul {
    display: grid;
    row-gap: 2.4rem;

    @media (min-width: 1024px) {
      column-gap: 4.8rem;
      grid-auto-flow: column;
    }
  }

  a {
    font-size: 1.7rem;
    font-weight: 500;
    transition: color ease-out 200ms;
    color: var(--color, theme.$color-200);

    &:not([class]):hover {
      color: theme.$color-100;
    }
  }
}
