@use '../theme';
@use '../mixins';

.container {
  margin-block: 4rem;

  @media (min-width: 768px) {
    margin-block: 6rem;
  }

  @media (min-width: 1024px) {
    margin-block: 8rem;
  }

  h2 {
    @include mixins.text-gradient;
    font-size: 1.7rem;
    font-weight: 500;
    margin: 0 0 1.2rem 0.8rem;
  }

  & > span {
    background-color: theme.$color-400;
    display: block;
    height: 1px;
  }
}

.matchdays {
  display: grid;
  gap: 2.8rem;
  margin-top: 2.8rem;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1280px) {
    gap: 4rem;
    margin-top: 4rem;
  }

  article {
    align-items: flex-end;
    aspect-ratio: 2 / 1;
    background-blend-mode: multiply;
    border-radius: 1.6rem;
    box-shadow: theme.$shadow;
    display: flex;
    font-style: italic;
    font-weight: 600;
    justify-content: space-between;
    line-height: 1.5;
    padding: 1.6rem 2rem;

    &:first-of-type {
      @media (min-width: 640px) and (max-width: 1023px) {
        aspect-ratio: 8 / 3;
        font-size: 1.8rem;
        grid-column-end: span 2;
        padding: 2rem 2.8rem;
      }
    }

    @media (max-width: 1279px) {
      font-size: 1.5rem;
    }

    div:last-of-type {
      text-align: right;
    }
  }
}

@each $name, $color in theme.$leagues {
  .fms-#{$name} {
    background: linear-gradient(rgba($color, 0.88), rgba($color, 0.88)),
      linear-gradient(transparent, theme.$color-500), var(--image) center 60%;
    background-size: cover;
  }
}
