@use '../theme';

@function getBackground($color) {
  $rgba: rgba($color, 0.8);

  @return linear-gradient($rgba, $rgba);
}

:export {
  color-default: theme.$color-200;
  color-spain: theme.$color-esp;
  color-caribbean: theme.$color-car;
  color-peru: theme.$color-per;
  color-colombia: theme.$color-col;
  color-mexico: theme.$color-mex;
  color-chile: theme.$color-chl;
  color-argentina: theme.$color-arg;
  bg-gradient: linear-gradient(transparent, rgba(theme.$color-500, 0.8));
  bg-esp: getBackground(theme.$color-esp);
  bg-car: getBackground(theme.$color-car);
  bg-per: getBackground(theme.$color-per);
  bg-col: getBackground(theme.$color-col);
  bg-mex: getBackground(theme.$color-mex);
  bg-chl: getBackground(theme.$color-chl);
  bg-arg: getBackground(theme.$color-arg);
}
