@mixin size($value) {
  height: $value;
  width: $value;
}

@mixin text-gradient {
  background: linear-gradient(
    to right,
    rgb(var(--color-100)),
    rgb(var(--color-300))
  );
  background-clip: text;
  color: transparent;
  width: fit-content;
}

@mixin small-screen {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin medium-screen {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin large-screen {
  @media (min-width: 1024px) {
    @content;
  }
}
