$color-100: #c1bdb3;
$color-200: #7f7979;
$color-300: #5f5b6b;
$color-400: #3d3b3c;
$color-500: #141414;

$leagues: (
  spain: #ff0340,
  caribbean: #00ffa1,
  peru: #fe0000,
  colombia: #ffff01,
  mexico: #00f400,
  chile: #0081ff,
  argentina: #00f7ff
);

$shadow: 0 1px 3px 0 rgb(0 0 0 / 0.2), 0 1px 2px -1px rgb(0 0 0 / 0.2);
