$color-100: #c1bdb3;
$color-200: #7f7979;
$color-300: #5f5b6b;
$color-400: #3d3b3c;
$color-500: #141414;
$color-esp: #ff0340;
$color-car: #00ffa1;
$color-per: #fe0000;
$color-col: #ffff01;
$color-mex: #00f400;
$color-chl: #0081ff;
$color-arg: #00f7ff;

$shadow: 0 4px 16px -12px black;
