.container {
  color: rgb(var(--color-200));
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
  padding-block: 2rem;
  text-align: center;

  a {
    color: rgb(var(--color-100));

    &:hover {
      text-decoration: underline;
    }
  }
}
