@use 'mixins';

:root {
  --color-100: 193, 189, 179;
  --color-200: 127, 121, 121;
  --color-300: 95, 91, 107;
  --color-400: 61, 59, 60;
  --color-500: 14, 14, 14;
}

* {
  box-sizing: border-box;
  color: inherit;
  margin: 0;
  padding: 0;
}

html {
  color-scheme: dark;
  font-size: 62.5%;
}

body {
  background-color: rgb(var(--color-500));
  color: rgb(var(--color-100));
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  justify-content: space-between;
  min-height: 100vh;
}

header,
main,
footer {
  margin-inline: auto;
  max-width: 128rem;
  padding-inline: 2rem;
  width: 100%;

  @include mixins.small-screen {
    padding-inline: 3.2rem;
  }

  @include mixins.medium-screen {
    padding-inline: 4rem;
  }
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

button,
dialog {
  background: none;
  border: none;
}

dialog::backdrop {
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.6);
}

ul {
  list-style: none;
}
