@use 'mixins';

.container {
  align-items: center;
  display: flex;
  justify-content: space-between;

  & > a {
    @include mixins.size(4.8rem);
    background-color: rgba(var(--color-400), 0.24);
    border-radius: 0 0 50% 50%;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.24), 0 1px 2px -1px rgb(0 0 0 / 0.24);
    display: grid;
    place-items: center;

    @include mixins.medium-screen {
      @include mixins.size(6.4rem);
    }

    img {
      width: 2rem;

      @include mixins.medium-screen {
        width: 2.8rem;
      }
    }
  }

  nav {
    @media (max-width: 1023px) {
      display: none;
    }

    ul {
      column-gap: 5.6rem;
      display: flex;
      font-weight: 500;

      a {
        color: var(--color, rgb(var(--color-200)));

        &:hover {
          color: var(--color, rgb(var(--color-100)));
        }
      }
    }
  }
}
