@use 'mixins';

.button {
  width: 3rem;
}

.container {
  background-color: rgb(var(--color-400));
  height: 100%;
  padding-block: 1.2rem;
  padding-inline: 3.2rem 2rem;
  position: fixed;
  right: 0;
  width: 20rem;

  @include mixins.small-screen {
    padding-inline: 4.4rem 3.2rem;
    width: 24rem;
  }

  @include mixins.medium-screen {
    padding-block: 2rem;
  }

  button {
    display: block;
    margin: 0 0 0.4rem auto;
    width: 2.8rem;
  }

  ul {
    display: grid;
    font-weight: 600;
    letter-spacing: 0.02rem;
    row-gap: 2.4rem;
  }
}

.active {
  color: rgb(var(--color-200));
  pointer-events: none;
}
