@use 'theme.module';

.container {
  @media (max-width: 1023px) {
    padding: 2.4rem 2.8rem;
    width: 24rem;
  }

  ul {
    display: grid;
    list-style: none;
    row-gap: 2.4rem;

    @media (min-width: 1024px) {
      column-gap: 4.8rem;
      grid-auto-flow: column;
    }
  }

  a {
    font-size: 1.8rem;
    font-weight: 500;
    transition: color ease-out 200ms;

    @media (min-width: 1024px) {
      color: theme.$color-200;

      &:hover {
        color: theme.$color-100;
      }
    }
  }
}
